@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
*{
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: "Slackside One", cursive;
    font-weight: 600;
    font-style: normal;

    font-size: 5rem;
    color: white;
}

h2 {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 3rem;   
     color: white;
}

h3 {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

p {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 2rem;
    color: white;
}

  
  .swiper-slide {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

